@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-red: #F03C42;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #CCCCCC;
    --bg-blue: #222374;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    align-items: center;
   
}

nav h1 {
    color: var(--color-white);
    font-size: 18px;
}
nav img {
    color: var(--color-white);
    text-align: right;
    
}


nav p {
    color: var(--color-white);
    font-size: 14px;
    text-align: right;
    align-items: center;
    line-height: 19px;
}
    

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#space {
    padding: 104px;
    background-color: var(--bg-blue);
}
#space h2 {
    font-size: 32px;
    color: var(--color-white);
    padding-top: 20px;
    margin-bottom: 40px;
  

    
}
.space-card {
    background-color: var(--color-gray);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    

}
.space-card-description h3 {
    font-size: 20px;
    color: var(--color-black);
    padding: 20px;
    
}
.space-card p {
    font-size: 14px;
    color: var(--color-black);
    padding: 20px;
    display: flex;
    
}
#modalities {
    padding: 20px 0;
    background-color: var(--color-white);  
}
#modalities h2 {
    font-size: 32px;
    color: var(--color-red);
    padding: 40px 20px;
}
.card-modalities {
    background-color: var(--bg-blue);
    width: 960px;
    height: 106px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.card-modalities h3 {
    font-size: 20px;
    color: var(--color-white);
    padding: 20px;
    display: flex;
    align-items: center;
}
.card-modalities-description p {
    font-size: 14px;
    color: var(--color-gray);
    display: flex;
    align-items: center;
    line-height: 19px;
    margin-left: 20px;
     
}
footer {
    height: 262px;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
 
}
.footer-content {
    font-size: 14px;
    color: var(--color-white);
    align-items: center;
    text-align: center;
    line-height: 19px;

}
.footer-content a {
    font-size: 14px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    
}

